# Entorno virtual
.venv/

# Variables secretas
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Positron / VS Code
.vscode/

# Datos descargados o generados
data/demo/*.nc
data/processed/*
data/climatology/checkpoints_*/
data/climatology/*.nc
outputs/figures/*
outputs/reports/*
outputs/analytics/*

# Mantener estructura de carpetas
!data/demo/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep

outputs/briefs/debug/
